* { box-sizing: border-box; }

body
{
	background-color: #E8F3F8;
	font-family: verdana;
	width :100%;
	height:100%;
}

h1
{
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	color: steelblue;
	margin-bottom: 15px;
}

h2
{
	font-weight: bold;
}

form
{
	margin: 20px auto;
	width: 450px;
}

input
{
	padding: 7px;
	margin: 7px;
	width: 90%;
	border-radius: 5px;
}

input[type="text"]
{
	background-color: #FAF6D9;
}

input[type="text"]:focus
{
	background-color: white;
}

img
{
	border-radius: 5px;
}

#zillow_results
{
	grid-column: 1/5;
	grid-row: 1/2;
	background-color: cornflowerblue;
	color: white;
	margin-left: 50px;
	display: none;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

#streetview_results
{
	grid-column: 6/11;
	grid-row: 1/2;
	display: none;
}

#streetview_results img
{
	border-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);	
}

#weather_results
{
	grid-column: 1/4;
	grid-row: 2/3;
	display: none;
	background-color: cornflowerblue;
	color: white;
	margin-left: 50px;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

#weather_results span
{
	text-transform: capitalize;
}

#google_places
{
	display: none;
}

.grid_div
{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-row-gap: 1.25em;
	grid-column-gap: 1.25em;
}

.center_animation
{
	margin: 0 auto;
	min-width: 150px;
	background-color: cornflowerblue;
	text-align: center;
	border-radius: 5px;
	font-family: verdana;
	position: relative;
	padding: 15px 5px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

@media screen and (max-width: 990px)
{
	#zillow_results
	{
		margin-left: 10px;
	}

	.grid_div
	{
		grid-row-gap: 0.75em;
		grid-column-gap: 0.75em;
	}
}