* { box-sizing: border-box; }

@font-face
{
    font-family: "AmaticaSCBold";
    src: url("../fonts/AmaticaSC-Bold.ttf") format("truetype");
}

@font-face
{
    font-family: "NunitoSans-Regular";
    src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}

body
{
	background-color: #E8F3F8;
	width :100%;
	height:100%;
	font-family: "NunitoSans-Regular";
}

h1
{
	text-align: center;
	font-size: 7.5em;
	font-weight: bolder;
	color: steelblue;
	display: none;
	margin-top: 7px;
	font-family: "AmaticaSCBold";

}

h2
{
	font-weight: bolder;
	font-size: 2.5em;
}

form
{
	margin: 20px auto;
	width: 450px;
}

input
{
	padding: 7px;
	margin: 7px;
	width: 90%;
	border-radius: 5px;
}

input[type="text"]
{
	background-color: #FAF6D9;
}

input[type="text"]:focus
{
	background-color: white;
}

#zillow_results
{
	grid-column: 1/5;
	grid-row: 1/2;
	background-color: cornflowerblue;
	color: white;
	display: none;
	padding: 15px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

#streetview_results
{
	grid-column: 5/11;
	grid-row: 1/2;
	display: none;
	color: black;
	background-color: #EDBD64;
	padding: 20px 40px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

#streetview_results img
{
	border-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	margin: 20px auto;
}

#weather_results
{
	grid-column: 4/11;
	grid-row: 2/3;
	display: none;
	background-color: cornflowerblue;
	color: white;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

#geocode_data
{
	grid-column: 1/4;
	grid-row: 2/3;
	display: none;
	padding: 15px;
	background-color:
	color: black;
	background-color: #EDBD64;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

#weather_results span
{
	text-transform: capitalize;
}

/*#google_places_container
{
	grid-column: 1/11;
	grid-row: 3/6;
}*/

#google_places
{
	grid-column: 1/8;
	grid-row: 3/6;
	background-color: cornflowerblue;
	color: white;
	display: none;
	padding: 10px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);	
}

#google_places img
{
	margin: 8px 0 8px 45px;
	border-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	max-height: 200px;
	min-width: 350px;
}

#current_time
{
	display:none;
	grid-column: 8/11;
	grid-row: 3/6;
	background-color: #EDBD64;
	color: white;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

.grid_div
{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-row-gap: 1.25em;
	grid-column-gap: 1.25em;
}

.center_animation
{
	margin: 0 auto;
	min-width: 150px;
	background-color: cornflowerblue;
	text-align: center;
	border-radius: 5px;
	position: relative;
	padding: 15px 5px;
	box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-webkit-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
	-moz-box-shadow: 5px 5px 18px 2px rgba(50,50,50,0.35);
}

@media screen and (max-width: 990px)
{
	.grid_div
	{
		grid-row-gap: 0.75em;
		grid-column-gap: 0.75em;
	}
}